* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Primary Colors */
    --primary-red: hsl(0, 100%, 67%);
    --primary-yellow: hsl(39, 100%, 56%);
    --primary-teal: hsl(166, 100%, 37%);
    --primary-blue: hsl(234, 85%, 45%);

    /* Gradient Colors */
    --gradient-slate-blue: hsl(252, 100%, 67%);
    --gradient-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavendar: hsl(241, 100%, 89%);
    --neutral-gray-blue: hsl(224, 30%, 27%);

    font-size: 16px;
}

@font-face {
    font-family: "Hanken Grotesk";
    src:
        local("Hanken Grotesk"),
        url(./assets/fonts/static/HankenGrotesk-Medium.ttf) format("truetype"),
        url(./assets/fonts/static/HankenGrotesk-Bold.ttf) format("truetype"),
        url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format("truetype");
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--neutral-pale-blue);
}

/* colors */
.result__title,
.result__denominator,
.result__p {
    color: var(--neutral-light-lavendar);
}

.result__numerator,
.result__h1,
.btn {
    color: var(--neutral-white);
}

main {
    background-color: var(--neutral-white);
    border-radius: 25px;
}

.sum__fraction {
    color: var(--neutral-gray-blue);
}

.sum__title {
    color: black;
}

.reaction {
    color: var(--primary-red);
}

.memory {
    color: var(--primary-yellow);
}

.verbal {
    color: var(--primary-teal);
}

.visual {
    color: var(--primary-blue)
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.round-display {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}


@media screen and (max-width: 750px) {

    /* font sizes */
    .fs-1 {
        font-size: 3.5rem;
    }

    .fs-2 {
        font-size: 1.5rem;
    }

    .fs-3 {
        font-size: 1.125rem;
    }

    .fs-4 {
        font-size: 1rem;
    }


    main {
        min-height: 100vh;
        display: grid;
        grid-template-rows: 0.74fr 1fr;
    }


    /* Result Section */

    .result {
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px 0 40px;
    }

    .result__content {
        margin: 0 auto;
        width: 69%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .round-display {
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 140px;
        width: 140px;
    }

    .result__h1 {
        margin-bottom: 8px;
    }

    .result__title,
    .result__h1,
    .result__p {
        text-align: center;
    }





    /* Summary Section */
    .summary {
        padding: 24px 0;
    }

    .summary-content {
        margin: 0 auto;
        max-width: 315px;
        width: 84%;
    }

    ul {
        margin: 24px 0;
    }

    .sum__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        padding: 17px 16px;
    }

    .sum__list-right {
        display: flex;
        gap: 12px;
    }

    .sum__btn-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 315px;
        padding-bottom: 24px;
    }

    .btn {
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: var(--neutral-gray-blue);
        border: none;
        border-radius: 100px;
        width: 100%;
    }
}

@media screen and (min-width: 751px) {
     /* font sizes */
     .fs-1 {
        font-size: 4.5rem;
    }

    .fs-2 {
        font-size: 2rem;
    }

    .fs-3 {
        font-size: 1.5rem;
    }

    .fs-4 {
        font-size: 1.125rem;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        max-width: 736px;
    }

    /* Result  Section */
    .result {
        padding: 38px 0 46px;
        min-width: 368px;
        border-radius: 25px;
    }

    .result__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .result__title {
        margin-bottom: 35px;
    }

    .round-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 100px;
        margin-bottom: 28px;
        height: 200px;
        width: 200px;
    }

    .result__h1 {
        margin-bottom: 14px;
    }

    .result__p {
        max-width: 260px;
    }


    /* Summary Section */
    .summary-content {
        margin: 0 auto;
        padding-top: 38px;
        width: 85%;
    }

    .sum__title {
        margin-bottom: 24px;
    }

    .sum__list {
        display: flex;
        justify-content: space-between;
        padding: 17px 16px;
        margin-bottom: 16px;
    }

    .sum__list-right {
        display: flex;
        gap: 12px;
    }

    .sum__btn-container {
        margin-top: 41px;
    }   

    .btn {
        background-color: var(--neutral-gray-blue);
        border: none;
        border-radius: 100px;
        color: var(--neutral-white);
        font: 1.125rem;
        padding-top: 17px;
        padding-bottom: 17px;
        width: 100%;
    }

    .btn:hover {
        background: linear-gradient(hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
    }
}