* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Primary Colors */
    --primary-red: hsl(0, 100%, 67%);
    --primary-yellow: hsl(39, 100%, 56%);
    --primary-teal: hsl(166, 100%, 37%);
    --primary-blue: hsl(234, 85%, 45%);

    /* Gradient Colors */
    --gradient-slate-blue: hsl(252, 100%, 67%);
    --gradient-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavendar: hsl(241, 100%, 89%);
    --neutral-gray-blue: hsl(224, 30%, 27%);

    font-size: 16px;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: 
        local("Hanken Grotesk"),
        url(./assets/fonts/static/HankenGrotesk-Medium.ttf) format("truetype"),
        url(./assets/fonts/static/HankenGrotesk-Bold.ttf) format("truetype"),
        url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format("truetype");
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--neutral-pale-blue);
}

/* colors */
.result__title,
.result__denominator,
.result__p {
    color: var(--neutral-light-lavendar);
}

.result__numerator,
.result__h1,
.btn {
    color: var(--neutral-white);
}

.sum__fraction {
    color: var(--neutral-gray-blue);
}

.sum__title {
    color: black;
}

.reaction {
    color: var(--primary-red);
}

.memory {
    color: var(--primary-yellow);
}

.verbal {
    color: var(--primary-teal);
}

.visual {
    color: var(--primary-blue)
}


@media screen and (max-width: 420px) {
    /* font sizes */
    .fs-1 {
        font-size: 3.5rem;
    }

    .fs-2 {
        font-size: 1.5rem;
    }

    .fs-3 {
        font-size: 1.125rem;
    }

    .fs-4 {
        font-size: 1rem;
    }
}

